.yellow {
  background-color: #c9bc31;
}

.text-yellow {
  color: #c9bc31;
}

.gray {
  background-color: #7f7f7f;
}

.black {
  background-color: #000;
}

.cursive {
  font-family: "Marck Script", cursive;
}

.stoke {
  font-family: Stoke, serif;
}

.halo {
  transform: rotate(90deg);
}
